* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  font-size: 16px;
  color: black;
  /*background-color: darkgrey;*/
  font-family: sans-serif;
}

/** HEADER **/
#header-nav {
  /*background-color: black;*/
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
  margin-bottom: 10px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;  
  /*color: white;*/
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#dropdown {
  background-color: darkgrey;
}

#dropdown a {
  color: white;
}
/** END HEADER **/
/** MAIN **/

section {
  margin: 10px  10px  10px  10px;
  padding: 40px 20px 20px 20px;
  background-color: grey;
}

/** END MAIN **/